001 YouTube Channel Monitor with Telegram Notifications.json
{
  "name": "YouTube Channel Monitor with Telegram Notifications",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "6ac3a6e1-3ab3-45be-a9be-4ef8424e9191",
      "name": "Every Hour Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        112,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "rss_url",
              "value": "https://www.youtube.com/feeds/videos.xml?channel_id=UCOei1E1Vqq10S913OEqTWGw",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "69ca9574-d4d4-4c83-bcd9-19861d58fabd",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        304
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.rss_url }}",
        "options": {}
      },
      "id": "8725b71b-296f-4932-9f07-654a682212eb",
      "name": "Read YouTube RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        560,
        304
      ]
    },
    {
      "parameters": {
        "maxItems": 20
      },
      "id": "eb1f65b3-0bd0-480d-a888-d53f2d40b5a6",
      "name": "Take 10 Videos",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        928,
        304
      ]
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "value": "oohzytBYLRYrzqQh",
          "mode": "list",
          "cachedResultName": "videos",
          "cachedResultUrl": "/projects/Ficpx7YIHjuBLAqy/datatables/oohzytBYLRYrzqQh"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "video_id",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "id": "2d960796-998f-431d-999d-19936c2f3a21",
      "name": "Check If Video Exists",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1152,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "message",
              "value": "={{ 'Новое видео: ' + $json.title + '\\nСсылка: ' + $json.link }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c7beb68f-757b-4e3a-a0fd-9ff64e92a2ee",
      "name": "Format Telegram Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1376,
        304
      ]
    },
    {
      "parameters": {
        "chatId": "57906326",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "c3af8f37-f2cf-4f7b-baba-2a18ae55486b",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1600,
        304
      ],
      "webhookId": "ac5bd958-1e01-45e8-bbc7-832e4366a7dd",
      "credentials": {
        "telegramApi": {
          "id": "ckHex4y2gPZpPxQE",
          "name": "@content_tools_bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "video_id",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "sent_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ed237177-c841-496d-970d-bde677c2e79f",
      "name": "Prepare Video Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1824,
        304
      ]
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "oohzytBYLRYrzqQh",
          "mode": "list",
          "cachedResultName": "videos",
          "cachedResultUrl": "/projects/Ficpx7YIHjuBLAqy/datatables/oohzytBYLRYrzqQh"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "video_id": "={{ $('Take 10 Videos').item.json.id }}",
            "title": "={{ $('Take 10 Videos').item.json.title }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "video_id",
              "displayName": "video_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sent_at",
              "displayName": "sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "8c7a4051-de79-415c-8b6e-2245e0f5768c",
      "name": "Store Sent Video",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2048,
        304
      ]
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        448,
        -16
      ],
      "id": "6d001550-59fd-4fa8-996a-70d07c388f13",
      "name": "Telegram Trigger",
      "webhookId": "5b55b886-417c-4621-a805-b8f5b571a23b",
      "credentials": {
        "telegramApi": {
          "id": "ckHex4y2gPZpPxQE",
          "name": "@content_tools_bot"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "qqZWpBJK4P80nBxX",
          "mode": "list",
          "cachedResultName": "subscribers",
          "cachedResultUrl": "/projects/Ficpx7YIHjuBLAqy/datatables/qqZWpBJK4P80nBxX"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_id": "={{ $json.message.from.id }}"
          },
          "matchingColumns": [
            "telegram_id"
          ],
          "schema": [
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        656,
        -16
      ],
      "id": "3eed094c-e79e-4da4-aadf-9abb83589f31",
      "name": "Insert row"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Привет! Я буду присылать тебе новые видео",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        864,
        -16
      ],
      "id": "e44cf1a3-22fb-4442-b687-2bb6e8af2220",
      "name": "Send a text message",
      "webhookId": "bcd0dd78-1273-4db3-b0aa-0cae5edcdad3",
      "credentials": {
        "telegramApi": {
          "id": "ckHex4y2gPZpPxQE",
          "name": "@content_tools_bot"
        }
      }
    },
    {
      "parameters": {
        "content": "Создайте Data Table:\nПерейдите на вкладку Data Tables и создайте таблицу с именем youtube_sent_videos с колонками:\n\nvideo_id (text)\ntitle (text)\nsent_at (text)\nПосле создания таблицы, выберите её в узлах \"Check If Video Exists\" и \"Store Sent Video\".\n\nСоздайте Data Table:\nsubscribers",
        "height": 304,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -32,
        -112
      ],
      "id": "3883eab9-78e8-456f-bd43-89450dc22f2c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "253a8e7c-fdfa-4cc7-89ac-f4fef97d6e0c",
              "leftValue": "={{ $json.link }}",
              "rightValue": "shorts",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        752,
        432
      ],
      "id": "f136980e-5360-4271-818a-c3050738c4f8",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Every Hour Check": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Read YouTube RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read YouTube RSS": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Take 10 Videos": {
      "main": [
        [
          {
            "node": "Check If Video Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Video Exists": {
      "main": [
        [
          {
            "node": "Format Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Telegram Message": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Telegram": {
      "main": [
        [
          {
            "node": "Prepare Video Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Video Data": {
      "main": [
        [
          {
            "node": "Store Sent Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Take 10 Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "865ba29b-a8c8-42a9-90ba-1a1bf4c8eec6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2f5df2520c9742510e250c6d2c04977715d5e19ed0f5bb8b213412340397834f"
  },
  "id": "Ist9LnsV9obERcw4a0myr",
  "tags": []
}