003 YouTube Channel Monitor with Telegram Notifications.json
{
  "name": "003 YouTube Channel Monitor with Telegram Notifications",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "9ebe0fc6-d790-4148-a692-628ee7bcabc6",
      "name": "Every Hour Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        112,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "rss_url",
              "value": "https://www.youtube.com/feeds/videos.xml?channel_id=UCOei1E1Vqq10S913OEqTWGw",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "294309b1-8644-4d87-af46-4899b3b318b8",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        304
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.rss_url }}",
        "options": {}
      },
      "id": "3913f8d7-3cd6-4cc2-a127-ab6b57f7434a",
      "name": "Read YouTube RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        560,
        304
      ]
    },
    {
      "parameters": {
        "maxItems": 20
      },
      "id": "5638d25d-7f19-48b0-9d59-5c9d42d4afa5",
      "name": "Take 10 Videos",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        928,
        304
      ]
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "value": "oohzytBYLRYrzqQh",
          "mode": "list",
          "cachedResultName": "videos",
          "cachedResultUrl": "/projects/Ficpx7YIHjuBLAqy/datatables/oohzytBYLRYrzqQh"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "video_id",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "id": "ca981200-2a69-4c55-bba0-334d3daff8ef",
      "name": "Check If Video Exists",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1152,
        160
      ]
    },
    {
      "parameters": {
        "chatId": "57906326",
        "text": "={{ $('Loop Over Items').item.json.title }}\n\n{{ $('Loop Over Items').item.json.link }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "6a4adb54-e9b1-4e59-b8f0-8d570b1a841b",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2864,
        -128
      ],
      "webhookId": "2f04a482-df87-409a-a1be-dddbf3fc2667",
      "credentials": {
        "telegramApi": {
          "id": "ckHex4y2gPZpPxQE",
          "name": "@content_tools_bot"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "oohzytBYLRYrzqQh",
          "mode": "list",
          "cachedResultName": "videos",
          "cachedResultUrl": "/projects/Ficpx7YIHjuBLAqy/datatables/oohzytBYLRYrzqQh"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "video_id": "={{ $('Take 10 Videos').item.json.id }}",
            "title": "={{ $('Take 10 Videos').item.json.title }}",
            "sent_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "video_id",
              "displayName": "video_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sent_at",
              "displayName": "sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b81f5d68-8ef2-47e7-9ccb-d3fabddb3d13",
      "name": "Store Sent Video",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        3296,
        384
      ]
    },
    {
      "parameters": {
        "content": "Создайте Data Table:\nПерейдите на вкладку Data Tables и создайте таблицу с именем youtube_sent_videos с колонками:\n\nvideo_id (text)\ntitle (text)\nsent_at (text)\nПосле создания таблицы, выберите её в узлах \"Check If Video Exists\" и \"Store Sent Video\".\n\nСоздайте Data Table:\nsubscribers",
        "height": 304,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -32,
        -112
      ],
      "id": "9e2dc0b5-5f89-4286-ac79-92d6179da436",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "253a8e7c-fdfa-4cc7-89ac-f4fef97d6e0c",
              "leftValue": "={{ $json.link }}",
              "rightValue": "shorts",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        752,
        432
      ],
      "id": "e3f48723-3c3e-4213-8d3c-72bb6faebf30",
      "name": "If"
    },
    {
      "parameters": {
        "content": "https://github.com/jdepoix/youtube-transcript-api\n\nhttps://apify.com/\n\nhttps://www.firecrawl.dev/",
        "height": 224,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1440,
        -240
      ],
      "id": "77607f59-75e1-498a-8526-a4a9c16bf967",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data.markdown }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "<system_prompt>\n\nYOU ARE AN AI EVALUATION BOT. YOUR TASK IS TO OBJECTIVELY ASSESS THE GIVEN TEXT ON A 100-POINT SCALE BASED ON 5 CRITERIA.\n\n###SCORING CRITERIA (EACH 0–20 POINTS):\n\n1. TECHNICAL DEPTH  \n2. PRACTICAL APPLICABILITY  \n3. INNOVATIVENESS / CUTTING-EDGE RELEVANCE  \n4. STRUCTURE & SYSTEMATIC APPROACH  \n5. BUSINESS VALUE / IMPACT\n\n###INSTRUCTIONS:\n\n- EVALUATE EACH CRITERION INTERNALLY  \n- SUM THE SCORES (MAXIMUM: 100 POINTS)  \n- OUTPUT ONLY THE FINAL TOTAL SCORE AS A SINGLE INTEGER (e.g., 87)  \n- DO NOT INCLUDE ANY LABELS, CRITERION BREAKDOWNS, EXPLANATIONS, HEADINGS, OR JUSTIFICATIONS  \n- DO NOT SAY ANYTHING EXCEPT THE FINAL INTEGER  \n- RETURN OUTPUT IN THIS FORMAT: `74` (ONLY THE NUMBER, NO QUOTES, NO TEXT)\n\n###WHAT NOT TO DO:\n\n- NEVER OUTPUT EXPLANATIONS OR SCORE BREAKDOWNS  \n- NEVER INCLUDE CRITERIA NAMES OR INDIVIDUAL SCORES  \n- NEVER WRITE SENTENCES OR DESCRIPTIONS  \n- NEVER USE HEADERS, LABELS, OR FORMATTING  \n- NEVER OUTPUT ANYTHING EXCEPT A SINGLE INTEGER FROM 0 TO 100\n\nIF YOU OUTPUT ANYTHING OTHER THAN A SINGLE INTEGER, YOU HAVE FAILED THE TASK.\n\nNOW EVALUATE THE FOLLOWING TEXT:\n\n</system_prompt>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1904,
        128
      ],
      "id": "7d49ef78-9401-495f-86d2-6c32f28f0e05",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "x-ai/grok-4-fast",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1952,
        320
      ],
      "id": "8d3fab0d-c708-4f0d-8bab-77f66ca4c7cb",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "AVRtluWmFM1VPBuF",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"score\": 94\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2176,
        336
      ],
      "id": "84145e66-4f59-4223-b157-22d7c8b0e292",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1408,
        208
      ],
      "id": "2d833f9e-a2a0-4753-840a-97acab666885",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "scrape",
        "url": "={{ $json.link }}",
        "scrapeOptions": {
          "options": {
            "formats": {
              "format": [
                {}
              ]
            },
            "onlyMainContent": false,
            "headers": {}
          }
        },
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1,
      "position": [
        1712,
        208
      ],
      "id": "dabc426f-5092-4f8b-a4a8-e924c45b9bda",
      "name": "Scrape a URL and get content as markdown or other formats",
      "credentials": {
        "firecrawlApi": {
          "id": "jo85kqKoveKKItNh",
          "name": "Firecrawl account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6a052ffd-060c-4c53-af6e-a842a040533c",
              "leftValue": "={{ $json.output.score }}",
              "rightValue": 77,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2240,
        -112
      ],
      "id": "b9686983-46b1-471f-ac25-acb515a90fe0",
      "name": "If1"
    }
  ],
  "pinData": {},
  "connections": {
    "Every Hour Check": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Read YouTube RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read YouTube RSS": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Take 10 Videos": {
      "main": [
        [
          {
            "node": "Check If Video Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Video Exists": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Telegram": {
      "main": [
        [
          {
            "node": "Store Sent Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Take 10 Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Scrape a URL and get content as markdown or other formats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Sent Video": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape a URL and get content as markdown or other formats": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "51f83afa-993a-4885-87bc-4423680ae2f1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2f5df2520c9742510e250c6d2c04977715d5e19ed0f5bb8b213412340397834f"
  },
  "id": "oWRHYvHVqNohRLbs",
  "tags": []
}